.btn {
  background-color: $accent-color;
  border-color: $accent-color;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-family: "Segoe UI";
  padding: 15px;
  &:hover {
    color: $accent-color;
    background-color: #fff;
    border-color: #fff;
  }
}

.btn-gray {
  background-color: transparent;
  color: #353f46;
  border: 2px solid #353f46;
  padding: 16px 40px;
  &:hover {
    color: #353f46;
    border: 2px solid #353f46;
    background-color: $accent-color;
  }
}
.portfolio-btn {
  padding: 0 18px;
  opacity: 0.9;
  border: 1px solid transparent;
  background: none;
  color: #515f67;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  &:hover {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}
.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: none;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}
@media (max-width: 575px) {
  .btn-gray {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
}
.btn-menu {
  display: none;
}

@media (max-width: 850px) {
  .portfolio-btn {
    display: none;
  }
  .btn-menu {
    display: block;
  }
}
.dropdown-item {
  font-size: 24px;
  font-family: "SegoeUIRegular";
}

.btn.btn-secondary.dropdown-toggle.btn-filter {
  color: #515f67;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background-color: transparent;
  border-color: transparent;
}