.card {
  background-color: transparent;
  border-color: transparent;
}

.card-body {
  padding: 0;
}

.card-title {
  text-transform: uppercase;
  font-family: "SegoeUIRegular";
  font-size: 24px;
}

.card-text {
  font-family: "SegoeUIRegular";
  font-size: 12px;
}

@media (max-width: 991px) {
  .card {
    padding-bottom: 20px;
  }
  .card-text {
    max-width: 400px;
  }
}

@media (max-width: 575px) {
  .card {
    padding-left: 10vw;
    padding-bottom: 30px;
  }
  .card-text {
    font-size: 14px;
  }
  .portfolio-photo-img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 270px;
    height: 270px;
  }
}
.card-portf:hover .overlay-plus {
  display: block;
}

.overlay-plus {
  display: none;
  font-size: 60px;
  color: white !important;
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 110px;
}
.card-portf {
  position: relative;
  margin-bottom: 30px;
  width: 270px;
  height: 270px;
  display: block;
  &:hover {
    background-color: #272d33;
  }
}
.card-portf-grid {
  display: flex;
  justify-content: center;
}
