.header {
  position: relative;
}

.header .section-foreground {
  padding: 0;
}

.section-background {
  position: absolute;
  z-index: -2;
}

.foreground-top {
  background-color: rgba(72, 83, 90, 0.85);
  padding: 32px 0;
}

.foreground-bottom {
  padding: 200px 0;
  text-align: center;
}

.header .header-bg {
  filter: grayscale(1);
  width: auto;
  height: 100%;
  object-fit: cover;
  background-color: #515f68;
}

@media (max-width: 768px) {
  .foreground-bottom {
    padding: 100px 0;
  }
}

@media (max-width: 490px) {
  .foreground-bottom {
    padding: 70px 0;
  }
}