.card-img {
  height: 48px;
  width: 48px;
}

.card img {
  height: 100%;
  width: auto;
}

.section-background > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #515f68;
}

.portfolio-photo > img {
  background-color: #979797;
}
