.card {
  background-color: transparent;
  border-color: transparent;
}

.card-body {
  padding: 0;
}

.card-title {
  text-transform: uppercase;
  font-family: "SegoeUIRegular";
  font-size: 24px;
}

.card-text {
  font-family: "SegoeUIRegular";
  font-size: 12px;
}