.nav-link {
  font-family: "SegoeUIBold";
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.9;
  border: 1px solid transparent;
  &:hover {
    color: #4bcaff;
    border: 1px solid #4bcaff;
  }
}

.active .nav-link {
  color: #4bcaff;
  border: 1px solid #4bcaff;
  cursor: default;
}
.nav-item {
  padding: 0 15px;
}
.filter {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
}
