* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  position: relative;
  overflow: hidden; }

a:hover {
  text-decoration: none; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

body {
  font-family: "SegoeUILight" !important; }

@font-face {
  font-family: "blueasy";
  src: url("../fonts/blueasy.eot?o0881j");
  src: url("../fonts/blueasy.eot?o0881j#iefix") format("embedded-opentype"), url("../fonts/blueasy.ttf?o0881j") format("truetype"), url("../fonts/blueasy.woff?o0881j") format("woff"), url("../fonts/blueasy.svg?o0881j#blueasy") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "blueasy" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-google:before {
  content: "\e900"; }

.icon-coffee:before {
  content: "\e901"; }

.icon-dribbble:before {
  content: "\e902"; }

.icon-twitter:before {
  content: "\e903"; }

.icon {
  font-size: 30px;
  color: #fff; }

@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUIBold";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUIItalic";
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"), url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUILight";
  src: url("../fonts/SegoeUILight/SegoeUILight.eot");
  src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUISemiBold";
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.btn {
  background-color: #4bcaff;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-family: "Segoe UI";
  padding: 15px; }
  .btn:hover {
    color: #4bcaff;
    background-color: #fff; }

.card {
  background-color: transparent;
  border-color: transparent; }

.card-body {
  padding: 0; }

.card-title {
  text-transform: uppercase;
  font-family: "SegoeUIRegular";
  font-size: 24px; }

.card-text {
  font-family: "SegoeUIRegular";
  font-size: 12px; }

.form-control {
  background: transparent;
  border-radius: 0;
  border: 2px solid #fff;
  color: #fff; }
  .form-control:focus {
    background: transparent;
    color: #fff;
    -webkit-box-shadow: 1px 1px 2px 0 #4bcaff;
    box-shadow: 1px 1px 2px 0 #4bcaff;
    border-color: #4bcaff; }

.label {
  font-family: "Segoe UI";
  text-transform: uppercase;
  color: #ffffff;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700; }

.contact-form-text,
.contact-form-adress {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; }

.hero-title {
  font-family: "SegoeUILight";
  font-size: 42px;
  text-transform: uppercase;
  color: #fff;
  display: inline;
  background-color: rgba(72, 83, 90, 0.85);
  line-height: 1.5em; }

.header {
  position: relative; }

.header .section-foreground {
  padding: 0; }

.section-background {
  position: absolute;
  z-index: -2; }

.foreground-top {
  background-color: rgba(72, 83, 90, 0.85);
  padding: 32px 0; }

.foreground-bottom {
  padding: 200px;
  text-align: center; }

.header .header-bg {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  width: auto;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: #515f68; }

.card-img {
  height: 48px;
  width: 48px; }

.card img {
  height: 100%;
  width: auto; }

.section-background img {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: #515f68; }

.nav-link {
  font-family: "SegoeUIBold";
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.9;
  border: 1px solid transparent; }
  .nav-link:hover {
    color: #4bcaff;
    border: 1px solid #4bcaff; }

.active .nav-link {
  color: #4bcaff;
  border: 1px solid #4bcaff;
  cursor: default; }

.nav-item {
  padding: 0 15px; }

.section {
  padding: 80px 0;
  position: relative;
  color: #515f67; }

.section-title {
  text-transform: uppercase;
  padding-bottom: 45px;
  font-family: "SegoeUILight";
  font-size: 30px;
  font-weight: 300; }
  .section-title:after {
    content: "";
    display: block;
    width: 45px;
    height: 2px;
    background-color: currentColor;
    margin-top: 7px; }

.section-gray {
  background-color: #515f67;
  color: #fff; }

.section-accent {
  background-color: #4bcaff;
  color: #fff; }

.section-photo {
  color: #fff;
  padding: 0; }

.section-foreground {
  padding: 80px 0; }

.section-white {
  margin-top: 80px; }

.section-text-big {
  font-family: "SegoeUILight";
  font-size: 28px;
  font-weight: 300;
  line-height: 50px; }

.section-text-accent {
  font-family: "SegoeUISemiBold";
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  color: #4bcaff; }

.section-text {
  font-size: 14px;
  font-family: "SegoeUIRegular"; }

.social-list-item {
  margin-right: 10px; }

.footer {
  font-family: "SegoeUISemiBold";
  font-size: 12px;
  background: #353f47; }

.nav-item-footer,
.copyright {
  border-right: 1px #515f67 solid;
  padding: 0 10px;
  color: #515f67;
  font-family: "Segoe UI - Semi Bold";
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase; }
  .nav-item-footer:last-child,
  .copyright:last-child {
    border: none; }

.video {
  padding-top: 56.25%;
  position: relative; }

.iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.video-control {
  max-width: 560px;
  height: 313px; }

.social-list {
  list-style: none; }

.social-list-item {
  border: 2px solid #ffffff;
  width: 64px;
  height: 64px; }
  .social-list-item:hover {
    color: #fff;
    background-color: #4bcaff; }

.social-list-item-link {
  color: #fff; }
